.Grid-item {
    display: flex;
    min-height: 9rem;
}

.Grid-item__card {
    display: flex;
    flex-direction: column;
}

.Grid-item__text {
    color: var(--secondary-gray);
    min-height: 3.5rem;
}