.Header {
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    min-height: 4rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.Header__link:hover {
    color: var(--main-yellow);
}

.BtnSign:hover {
    background-color: var(--secondary-blue) !important;
}

.Header__theme-block {
    border: 1px solid var(--secondary-blue);
    border-radius: 100%;
    padding: 0.5rem;
    cursor: pointer;
}
