.Header {
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-items: center;
}

.Header__link:hover {
    color: #b2a35f
}

.BtnSign:hover {
    background-color: #7796c0 !important;
}