.Header {
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    min-height: 4rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.Header__link:hover {
    color: #b2a35f
}

.BtnSign:hover {
    background-color: #7796c0 !important;
}