.form-application {
    margin-bottom: 3rem;
}

.form-application__limit {
    border: 1px groove #5B35D5;
    border-radius: 10px;
    padding: 1.5rem;
}


.Form-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .Form-container {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

.Form-container__Button-block {
    grid-column: 4 / 4;
}