.Slider {
    overflow: hidden;
}

.Slider__card {
    min-width: 20rem;
    max-height: 30rem;
}

.Slider__button-prev {
    border-radius: 100%;
    border: 2px solid var(--main-blue);
    width: 4rem;
    height: 4rem;
    background: white;
}

.Slider__button-next {
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
}