.Table {
    width: 80%;
}

.Table__tr {
    vertical-align: baseline;
    border-top: 1px solid var(--light-blue);
    margin-top: 2rem;
}

.Table__td {
    padding: 24px 32px 25px 0px;
}

.Table__td-text {
    white-space: break-spaces;
    color: var(--gray-secondary);
}
