@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

* {
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #1C1C1E;
  }
  
  body,
  html {
    background-color: #FFF !important;
    margin: 0 !important;
    padding: 0 !important;
}

#root {
  background: #f5f4ff;
}

.Grid-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
}

.Grid-layout__content {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  #root {
    width: 100vh;
  }
}
