@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

* {
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #1C1C1E;
  }
  
  body,
  html {
    background-color: #FFF !important;
    margin: 0 !important;
    padding: 0 !important;
}

#root {
  background-color: #F7F8FD;
}

#grid-layout {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
}