.Card-container {
    width: 100%;
    background-color: white;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
    border-radius: 1.8rem;
    padding: 2rem;
    margin: 0;
}

.Card__background-gray {
 background-color: #7f92aca8;
}

.Card__background-brown {
    background-color: #968975b8;
}

.Card__background-lightGray {
    background-color: #EAECEE;
}
