.Card-container {
    width: 100%;
    background-color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px, rgb(0 0 0 / 8%) 0px 0px 8px;
    border-radius: 1.8rem;
    padding: 2rem;
    margin: 0;
}

.Card-container_hover {
    border: 2px solid transparent;
}

.Card-container_hover:hover {
    border: 2px solid var(--main-blue);
}

.Card__background-gray {
 background-color: var(--light-blue);
}

.Card__background-brown {
    background-color: #968975b8;
}

.Card__background-lightGray {
    background-color: #EAECEE;
}

.Card__background-ultramarine {
    background-color: #88b3b8a6;
}

.Card__background-multi {
    background: linear-gradient(to top, #FEEBC8, #cbd5e0);
}

.Card__background-platinum {
    background: linear-gradient(to top, #b2b2b2c4, #f4f4f4d1);
}
